.categoryhead{
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 35px 25px;
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: white;
     transition: padding 0.3s ease;
}

.categoryhead div{
    color: rgb(17, 17, 17);
    font-size: 24px;
    font-weight: 550;
    /* background-color: aqua; */
}

.categoryhead ul{
    display: flex;
    align-items: center;
    gap: 30px;
}
.categoryhead li{
    list-style: none;
    color: rgb(22, 22, 22);
    font-size: 16px;
    font-weight: 550;
}

@media screen and (min-width:960px) {
    .categoryhead{
        flex-direction: row;
        /* background-color: aqua; */
        align-items: center;
        justify-content: center;
        padding: 45px 35px;
    }
    .categoryhead.sticky {
        padding: 25px 35px;       
}
    .categoryhead div{
        /* background-color: red; */
        position: absolute;
        left: 0;
        margin-left: 45px;

    }
    .categoryhead.sticky div {
    font-size: 16px;
    transition: font-size 0.3s ease;
}
    .categoryhead ul{
        /* background-color: pink; */
        justify-content: center;
        width:auto;
    }
}